
*{
    margin: 0;
    padding: 0;
}
header { 
    display: flex; /* Coloca os elementos lado a lado*/
    background-color: rgb(37, 37, 37); /* Cor do fundo do cabeçalho*/
    justify-content: space-between; /* Controla o espaçamento  entre itens*/
    align-items: center; /* Controla o eixo secundario */
    padding: 15px 30px; /* Margem interna */
    color: rgb(255, 255, 255); /* Cor do texto */
    
}

a { 
    text-decoration: none; /* Remove o sublinhado dos links */
    color: rgb(211, 142, 13);  /* Cor do texto */
    

}

#banner {  
        height: 500px; /* Altura */
        background-image: url(https://binaryfortressdownloads.com/Download/WPF/Images/21612/WallpaperFusion-call-of-duty-ghosts-1680x480.jpg); /* Imagem de fundo */
        background-repeat: no-repeat; /* Não repete a imagem */
        background-size: cover; /* A imagem cobre toda a área */
        display: flex; /* Coloca os elementos lado a lado*/
        align-items: center; /* Controla o eixo secundario */
        justify-content: center; /* Controla o espaçamento  entre itens*/
        
    }

 .banner-content { 
    background-color: rgba(0, 0, 0, 0.603); /* Cor do fundo do cabeçalho*/
    padding: 30px; /* Margem interna */
    border-radius: 15px; /* Cantos arrendondados */
    padding: 15px 30px; /* Margem interna */
    text-align: center; /* Centraliza o texto */
    color: white; /* Cor do texto */

 }

 .cards { 
    display: flex; /* Coloca os elementos lado a lado*/
    justify-content: center; /* Controla o espaçamento  entre itens*/
    gap: 30px; /* Espaço entre itens*/
   
    flex-wrap: wrap; /* Controla como os itens se comportam quando a tela diminui */
    padding: 20px; /* Margem interna */
 }

 .card { 
    background-color: rgb(240, 136, 0); /* Cor do fundo do cabeçalho*/
    padding: 30px; /* Margem interna */
    border-radius: 15px; /* Cantos arrendondados */
    width: 200px; /* Largura fixa */
    text-align: center; /* Centraliza o texto */
 }

.card img {  /* Pega todas as imagens dentro de um elemento com a classe .card*/
    width: 200px; /* Largura fixa */
    border-radius: 30px; /* Cantos arrendondados */
}

section { 
    background-color: black; /* Cor do fundo do cabeçalho*/
}


footer { 
    display: flex; /* Coloca os elementos lado a lado*/
    background-color: rgb(37, 37, 37); /* Cor do fundo do cabeçalho*/
    justify-content: center; /* Controla o espaçamento  entre itens*/
    padding: 25px; /* Margem interna */
    color: aliceblue; /* Cor do texto */
    

}

.sobre { 
    color: black; /* Cor do texto */
    padding: 25px; /* Margem interna */
    justify-content: center; /* Controla o espaçamento  entre itens*/
    display: flex; /* Coloca os elementos lado a lado*/
    
    
}

.sobre-jogo { 
    text-align: center; /* Centraliza o texto */
    padding: 30px; /* Margem interna */
    background-color: rgb(240, 136, 0);; /* Cor do fundo */
    border-radius: 20px; /* Cantos arrendondados */
}

#button { 
    background-color: rgba(128, 128, 128, 0.253); /* Cor do fundo */
    color: aliceblue; /* Cor do texto */
    border-color: rgb(240, 136, 0);; /* Cor da borda */
}
